{
    "server": "pi4",
    "dark_mode": true,
    "modified": false,
    "poll_interval": 750.0,
    "sensors": {
        "::main::": {
            "active": true,
            "pos": [
                122,
                26
            ],
            "size": [
                840,
                501
            ]
        },
        "::about::": {
            "active": false,
            "pos": [
                216,
                50
            ]
        },
        "Pi Zero Usage": {
            "host": "piz",
            "sensor": "cpu_usage",
            "pos": [
                1075,
                570
            ],
            "active": false,
            "icon": "icons/raspberrypi.png"
        },
        "Pi 3 Usage": {
            "host": "pi3",
            "sensor": "cpu_usage",
            "pos": [
                633,
                595
            ],
            "active": false,
            "icon": "icons/raspberrypi.png"
        },
        "Sensor - bmp280(1)": {
            "host": "pi4",
            "sensor": "bmp280",
            "icon": "icons/bmpsen.png",
            "pos": [
                0,
                25
            ],
            "active": false
        },
        "Sensor - aht(1)": {
            "host": "pi4",
            "sensor": "aht10",
            "pos": [
                1146,
                600
            ],
            "active": false,
            "icon": "icons/ahtsen.png"
        },
        "Sensor - bmp280(2)": {
            "host": "pi3",
            "sensor": "bmp280",
            "icon": "icons/bmpsen.png",
            "pos": [
                0,
                25
            ],
            "active": false
        },
        "Sensor - aht2)": {
            "sensor": "aht10",
            "host": "pi3",
            "icon": "icons/ahtsen.png",
            "pos": [
                0,
                25
            ],
            "active": false
        },
        "Sensor - si7020": {
            "host": "pi3",
            "sensor": "si7021",
            "pos": [
                359,
                417
            ],
            "active": false,
            "icon": "icons/sisen.png"
        },
        "Weather": {
            "host": "pi4",
            "sensor": "weather",
            "pos": [
                0,
                25
            ],
            "active": false,
            "icon": "icons/weather.png"
        },
        "Room - Terry": {
            "host": "pi3",
            "sensor": "aggregate",
            "active": true,
            "pos": [
                1013,
                316
            ],
            "icon": "icons/aggregate.png"
        },
        "Room - Nicci": {
            "host": "pi4",
            "sensor": "aggregate",
            "active": true,
            "pos": [
                1012,
                61
            ],
            "icon": "icons/aggregate.png"
        },
        "Room - Living": {
            "host": "piz",
            "sensor": "dht22",
            "icon": "icons/dht.png",
            "pos": [
                1030,
                590
            ],
            "active": true
        },
        "Pi 4 Usage": {
            "host": "pi4",
            "sensor": "cpu_usage",
            "pos": [
                127,
                606
            ],
            "active": true,
            "icon": "icons/raspberrypi.png"
        }
    },
    "::main::": {
        "active": true
    }
}